html {
background-color: black; 
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*animation for bg chnage*/
  -webkit-transition: 0.25s;
   -moz-transition: 0.25s;
    -ms-transition: 0.25s;
     -o-transition: 0.25s;
        transition: 0.25s;
}

body{ 
  margin: auto;
  overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
    /*background: yellow;*/
}

::selection {
    /*background: #FFEB3B;*/
}

h1{
  font-family: sans-serif, Verdana, Tahoma;
}

#loading-screen{
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: white;
  overflow: hidden;
}

#title-wrap{
  display:block;
  position:relative;
  margin:auto;
  padding-top: 13px;
  padding-bottom: 13px;
  z-index:5;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.49);;
}

#title{
  font-family: sans-serif, Verdana, Tahoma;
  max-width: 618px;
  width: 37%;
  min-width: 203.797px;
  display: block;
  margin: auto;
  color: #fff;
  -webkit-transition: 0.7s;
   -moz-transition: 0.7s;
    -ms-transition: 0.7s;
     -o-transition: 0.7s;
        transition: 0.7s;
}

#curtain-frame{
  position:relative;
  z-index:4;
}

#right-curtain, #left-curtain{
  display: inline-block;
  max-width: 50%;
  width: 50%;
  height: 100%;
  position: fixed;
  top:0;
  pointer-events: none;

  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#right-curtain{
  right: 0;
  background-image: url("images/curtain-right.jpg");
}

#left-curtain{
  left: 0;
  background-image: url("images/curtain-left.jpg");
}

.highlighted:hover{
  cursor: pointer;
  text-decoration: underline;
}

.highlighted:active{
  background-color: white !important;
   -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

#info-wrapper{
  display: block;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  width: 80%;
  max-width: 1200px;
  height: auto;
}

.info-rows{
  display: inline-block;
  margin: auto;
  margin: 20px 10px 20px 10px;
  padding: 20px;
  width: auto;
  max-width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.49);
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

.info-rows img{
  display: inline-block;
  border-radius: 10px;
  width:100%;
  height: 300px;
  max-width: 300px;
}

.left-info{
  right: 100%;
}

.right-info{
  left: 100%;
}

.text-info{
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  background-color: #E23C3A;
  color: #01244D;
  border-radius: 10px;
  padding: 9px;
  cursor: pointer; 
}

.text-info:hover{
  background-color: #01244D;
  color: #E23C3A;
}

.text-info:active{
  background-color: #01244D;
  color: #01244D;
}

#content-wrap{

}

#content{
  display:none;
  text-align: center;
  height: auto;
  background-color: red;
  width: 80%;
  max-width:810px;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.65);
}

h2{
  font-family: 'Montserrat', sans-serif;
  margin: 11px;
}

#bush-image{
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 360px;
  max-height: 340px;
  -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
     -o-transition: none;
         transition: none;
}

#bush-text{
  font-size: 20px;
  font-family: sans-serif;
}

/*RESPONSIVE CSS*/

@charset "utf-8";
/* CSS Document */

/*----*****---- << Responsive >> ----*****----*/

  /*----*****---- << Desktop >> ----*****----*/ 
  
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:960px) and (max-width:1120px) {
    
    
  }

  /*----*****---- << Tablet (Portrait) >> ----*****----*/ 
  
    /* Note: Design for a width of 768px, Gutter: 30px, Unit: 32px */

    @media only screen and (min-width:768px) and (max-width:959px) {
    

  }
  
  /*----*****---- << Mobile (Landscape) >> ----*****----*/  
  
    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {


  }
  
  /*----*****---- << Mobile >> ----*****----*/  

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .info-rows{
      margin: 20px 0px 20px 0px !important;
    }
  }

  










